img {
  height: 150px;
}

table {
  font-family: 'Permanent Marker', cursive;
  font-size: 16pt;
  border-collapse: collapse;
  width: 100%;
}

table, td, th {
  border: 3px solid black;
}

th, td {
  padding: 5px;
}

.showtimes {
  padding: 0px;
}

tr:nth-child(2n + 4) {
  background-color: dimgrey;
}

td:nth-child(2n-1) {
  text-align: center;
}

tr#keys > th {
  background-color: papayawhip;
  text-align: center;
}

.table {
  border-collapse: collapse;
  display: table;
  border-spacing: 0;
  height: 171px;
  width: 100%;
  padding: 0;
  margin: 0;
}

div.table > div.row {
  display: table-row;
}

div.row > div.cell {
  display: table-cell;
  vertical-align: middle;
}

div#bonus > div.row > div.cell:nth-child(1) {
  border-right: 3px black solid;
}

.early {
  background-color: crimson
}

.table > div {
  border-bottom: 3px solid black;
}

.table > div:nth-last-child(1) {
  border-bottom: 0;
}

.header {
  background-color: slategrey;
  color: papayawhip;
  text-align: center;
}

.smaller {
  padding: 35px;
  font-size: 28pt;
}

.larger {
  padding: 40px;
  font-size: 35pt;
}
